body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  padding: 20px;
  margin: 0;

  * {
    box-sizing: border-box;
  }
}
