body {
  height: 100vh;
  margin: 0;
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  display: flex;
  gap: 30px;
  width: fit-content;
}

.tile {
  position: relative;
  width: 220px;
  height: 220px;
  aspect-ratio: 1;
  -webkit-box-shadow: 5px 2px 12px 1px rgba(0,0,0,0.26); 
  box-shadow: 5px 2px 12px 1px rgba(0,0,0,0.26);
  border-radius: 22px;
  transition: transform .2s;
  cursor: pointer;
  perspective: 1000px;
  transition: transform 0.3s;
  transform-style: preserve-3d;

  img {
    border-radius: 22px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(91%);
  }

  &:hover {
    transform: translateY(-5px);
  }

  &.clicked {
    transform: rotateY(180deg);
  }

  .front,
  .back {
    backface-visibility: hidden;
  }

  .back {
    transform: scaleX(-1);
  }
}

