body {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 20px;

  * {
    box-sizing: border-box;
  }
}

.todo-container {
  max-width: 400px;
  width: 100%;
  background-color: rgb(162, 177, 182);
  padding: 40px;
  border-radius: 10px;

  .todo-list-container {
    .item {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 8px;
      align-items: center;
      background-color: rgba(57, 72, 92, 0.347);
      color: white;

      & + .item {
        margin-top: 10px;
      }

      .delete {
        border: none;
        padding: 5px;
        background-color: rgb(192, 111, 111);
        color: white;
        cursor: pointer;
        margin-left: 10px;
      }
    }
  }

  #textarea {
    width: 100%;
    min-height: 80px;
    padding: 10px;
    font-size: 15px;
    margin-top: 20px;
  }

  .add {
    border: none;
    padding: 15px;
    background-color: rgb(74, 120, 80);
    font-size: 20px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    display: block;
    margin: 15px auto 0 auto;
    cursor: pointer;
  }
}
