.counter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: rgba(114, 165, 213, 0.984);
  padding: 30px;
  width: fit-content;
  margin: 0 auto;
  border-radius: 30px;
  margin-top: 30px;

  .counter-value {
    font-size: 180px;
    font-weight: bold;
    color: rgb(244, 242, 235);
  }

  .controls {
    display: flex;
    gap: 200px;
    color: black;

    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(88, 118, 109);
      font-size: 50px;
      font-weight: bold;
      color: white;
      padding: 15px;
      border: none;
      width: 100px;
      height: 100px;
      border-radius: 60px;
      cursor: pointer;
      transition: transform .2s, opacity .2s;

      &:hover {
        transform: translatey(-2px);
        opacity: .7;
      }

      &.add {
        background-color: rgb(140, 205, 140);
      }
      &.substract {
        background-color: rgb(205, 140, 140);
      }
    }
  }
}